<div id="backgr" *ngIf="auth.isAuthenticated()">

    <div id="head">
        <h1 id="idq">Quality,Style,Harmony.</h1>
       <br/>
      <h6> You Order ,We Deliver Your Products Within 3 Days Max!!!</h6>
      <br>

        <h5>In Order To Enjoy Our On-Line Store Please Login/Sign-Up.</h5>
        <div class="slideshow-container">


            <div class="mySlides fade isActive">
                <div class="numbertext">1 / 3</div>
                <img src="https://i.pinimg.com/736x/b5/83/dd/b583dd59e5b82360ad35877f09030244--black-style-my-style.jpg">
                <div class="text">Crop Top</div>
            </div>

            <div class="mySlides fade notActive">
                <div class="numbertext">2 / 3</div>
                <img src="https://img.huffingtonpost.com/asset/57bb23201700001108c74ad0.jpeg?ops=scalefit_970_noupscale">
                <div class="text">Mans' Jacket</div>
            </div>

            <div class="mySlides fade notActive">
                <div class="numbertext">3 / 3</div>
                <img src="http://cdn.glamour.es/uploads/images/thumbs/es/glam/4/s/2016/06/jasmine_tookes_y_tobias_sorensen_5620_600x315.jpg">
                <div class="text">Long Blouse</div>
            </div>


        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</div>