
<h1> About  Us ..  </h1>
<br>
<p id="About"> ​Harmony  was founded in 2000 by Yehudit Sahalo & Ronit Motza in <br> Tel Aviv and has 
    since made its way to becoming a highly recognized Clothing Store. <br>
    They are well recognized in delivering the orders the fastest way.<br>
    The store recieves the order from the website, and then passes it to the right store in a few hours.
    With our ravishing retail options, <br> you’ll want to visit our store and 
    check out the latest Summer collection before all the good stuff is gone. <br>
    We’re highly committed to customer satisfaction and go out of our way to make
     sure you walk out happy with our products.
    </p>